.search-section {
  box-sizing: border-box;
  width: 100%;
  height: 576px;
  padding: 160px 80px 80px 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url('../../images/search-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-section__title {
  max-width: 608px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}
.search-section__subtitle {
  max-width: 608px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  letter-spacing: .5px;
}

@media screen and (max-width: 1023px) {
  .search-section {
    height: 400px;
    padding: 104px 80px 48px 80px;
  }
  .search-section__title {
    max-width: 452px;
    width: 100%;
    font-size: 36px;
    line-height: 40px;
  }
  .search-section__subtitle {
    max-width: 452px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .search-section {
    height: fit-content;
    padding: 86px 16px 32px 16px;
  }
  .search-section__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .search-section__subtitle {
    margin-bottom: 120px;
  }
}
