.newscard-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 16px;
  list-style-type: none;
  margin: 0 0 64px 0;
  padding: 0;
  grid-auto-rows: 1fr;
  background-color: #f5f6f7;
}

@media screen and (max-width: 1023px) {
  .newscard-list{
    gap: 8px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .newscard-list{
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 424px) {
  .newscard-list{
    grid-template-columns: 1fr;
  }
}
