@import url('./vendor/customNormalizer.css');
@import url('./vendor/fonts.css');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
